* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a0f00;
  color: #f5ead8;
  font-family: Arial, sans-serif;
}
header {
  background-color: #2b1600;
  text-align: center;
  padding: 60px 20px;
}
header h1 {
  font-size: 48px;
  color: #e87c2b;
}

header p {
  font-size: 18px;
  color: #c9a97a;
  margin-top: 10px;
}
nav {
  background-color: #3d1f08;
  text-align: center;
  padding: 15px;
}
nav a {
  color: #e87c2b;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  border: 2px solid #e87c2b;
  padding: 8px 18px;
  border-radius: 6px;
}
section {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
}

section h2 {
  font-size: 32px;
  color: #e87c2b;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
footer {
  background-color: #2b1600;
  text-align: center;
  padding: 30px;
  color: #7a5a35;
  font-size: 14px;
}
nav a:hover {
  background-color: #e87c2b
  color: #1a0f00;
}
section p {
  font-size: 18px;
  background-color: #2b1600;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}
#catering {
  background-color: #2b1600;
  text-align: center;
  border-radius: 12px;
}
#catering p {
  font-size: 18px;
  color: #c9a97a;
  margin-bottom: 15px;
}
#catering a {
  color: #e87c2b;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
#hours {
  background-color: #2b1600;
  border-radius: 12px;
}

#hours p {
  background-color: #3d1f08;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
}
#hours p {
  border-left: 4px solid #e87c2b;
}
#contact {
  background-color: #2b1600;
  border-radius: 12px;
  text-align: center;
}

#contact p {
  background-color: #3d1f08;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 18px;
}
